@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


#root {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  height: fit-content;
  /* scrollbar; */
  
}

.aboutgrid {
  grid-template-areas: 
    "title title title"
    "bleft cont bright";
}
  
@media (width <= 768px) {
  .aboutgrid {
    grid-template-areas: 
    "title title"
    "cont cont"
    "bleft bright";
  }
}

button {
  transition: 0.5s;

  &:hover {
    transition: 0.5s;
    transform: scale(1.03);
  }
}

/* Style scroolbar */

*::-webkit-scrollbar {
  width: 0;
}
